/**********GLOBAL**********/

@font-face {
    font-family: "Rugen Expanded";
    src: url("../assets/police/rugenexpanded-dokge.otf")
}
* a{
    text-decoration: none;
}

/**********HEADER**********/

/********** la virgule marche comme un ET**********/
#navbar, #partieDroite{
    flex-grow: 1;
    width: 40%;
}

#logo-header{
    text-align: center;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

nav img{
    width: 100px;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    text-decoration: none;
    font-size: larger;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
#partieDroite{
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 40px;
    margin-right: 50px;
}
#partieDroite img{
    width: 30px;
}




/**********BODY**********/
body{
    font-family:"Rugen Expanded", sans-serif;
    background: linear-gradient(135deg,hsl(263deg 42% 17%) 0%,hsl(240deg 36% 20%) 14%,hsl(222deg 51% 20%) 26%,hsl(210deg 69% 18%) 37%,hsl(202deg 94% 17%) 48%,hsl(198deg 100% 17%) 58%,hsl(194deg 100% 17%) 69%,hsl(190deg 96% 17%) 79%,hsl(188deg 69% 20%) 89%,hsl(183deg 49% 22%) 100%);
    margin: auto;
}

/**********HOODIE BANNIERE **********/

#banniere-hoodie{
    width: 100%;
    height: auto;
}
#banniere-hoodie div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

#banniere-hoodie img{
    width: 95%;
    height: auto;
    border-radius: 10px;
    align-items: center;
}
/********** Bouton Trier **********/
#section-trie{
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 50px;
}

#bouton-trier{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color:#21ecb5 ;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 50px;
}

#bouton-trier a{
    color: black;
    
}

/**********LE SHOP LISTE ARTICLE**********/
#shop-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: top;
    margin-top: 50px;
}
#dropdown-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    background-color: #191a1b;
    border-radius: 10px;
    color: white;
    height: 30vh;
    width: 20vw;
}
hr{
    width: 80%;
    color: grey;
    font-style: bold;
    opacity: 0.5;
}
#dropdown-banner div{
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
#dropdown-banner p{
    margin-left: 50px;
}
#dropdown-banner div img{
    margin-right: 50px;
}

/**********ARTICLE**********/

#liste-articles{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #191a1b;
    padding: 40px;
    border-radius: 10px;
    height: 50%;
    margin-bottom: 50px;
}
.ligne-article{
    display: inline-flex;
    gap: 10px;
}
.etoile{
    width: 30px;
    display: flex;
    flex-direction: row;
}
.etoile p{
    font-size: large;
    align-items: center ;
    padding-top: 10px;
}
.article{
    display: flex;
    flex-direction: column;
    color: white;
}
.article img{
    border-radius: 7px;
}
#info-article{
    background-color: black;
    border-radius: 7px;
}
.prix-article{
    text-align: right;
    margin-bottom: 10px;
    margin-right: 10px;
}
.nom-article{
    text-align: left;
    padding-top: 20px;
}

/**********BOUTON PAGE SUIVANTE**********/
#bouton-page-suivante{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
}
#bouton-page-suivante a{
    background-color: #054a59;
    padding: 5px 21px;
    border-radius: 5px;
    color: white;
}
#bouton-page-suivante a:hover{
    background-color: #21ecb5;
    transform: scale(1.4);
    border-radius: 10px;
    color: black;
}


/**FOOTER**/
footer ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer{
    background-color: #08101d;
}
#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 50px;
    padding-top: 50px;
    padding: 50px;
    
}

#logo-footer img{
    width: 250px;
    height: auto;
}

#footer-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#reseau{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#reseau img{
    margin-bottom: 15px;
}

#help-and-support{
    display: flex;
    align-items: top;
    margin-bottom: 45px;
}